{% extends 'base.html.twig' %}

{% block title %}Randonnee index{% endblock %}

{% block body %}
    <h1>Randonnee index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Createur</th>
                <th>Titre</th>
                <th>Duree</th>
                <th>Distance</th>
                <th>Denivele</th>
                <th>PointHaut</th>
                <th>PointBas</th>
                <th>Difficulte</th>
                <th>RetourDepart</th>
                <th>Type</th>
                <th>Region</th>
                <th>Commune</th>
                <th>Depart</th>
                <th>Description</th>
                <th>Photo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for randonnee in randonnees %}
            <tr>
                <td>{{ randonnee.id }}</td>
                <td>{{ randonnee.Createur }}</td>
                <td>{{ randonnee.Titre }}</td>
                <td>{{ randonnee.Duree }}</td>
                <td>{{ randonnee.Distance }}</td>
                <td>{{ randonnee.Denivele }}</td>
                <td>{{ randonnee.PointHaut }}</td>
                <td>{{ randonnee.PointBas }}</td>
                <td>{{ randonnee.Difficulte }}</td>
                <td>{{ randonnee.RetourDepart ? 'Yes' : 'No' }}</td>
                <td>{{ randonnee.Type }}</td>
                <td>{{ randonnee.Region }}</td>
                <td>{{ randonnee.Commune }}</td>
                <td>{{ randonnee.Depart }}</td>
                <td>{{ randonnee.Description }}</td>
                <td>{{ randonnee.Photo }}</td>
                <td>
                    <a href="{{ path('randonnee_show', {'id': randonnee.id}) }}">show</a>
                    <a href="{{ path('randonnee_edit', {'id': randonnee.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="17">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('randonnee_new') }}">Create new</a>
{% endblock %}
